<ng-container>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        Ponto atendimento :
        <div class="col-20">
          01 - PA - LONDRINA - RUA: QUINTINO BOCAIÚVA
        </div>
      </div>
      <div class="col-sm-3">
        Saldo Total :
        <div class="col-8">
          R$: 9.847.536.593,00
        </div>
      </div>
      <div class="col-sm-3">
        Data Atualização :
        <div class="col-15">
          23/01/2024 às 18:30:20
        </div>
      </div>
      <div class="col-sm-2" id="button-details">
        <button class="btn-details">
          <svg class="icon" cIcon name="cilCloudDownload"></svg>
          <span>  Exportar</span>
        </button>
      </div>
    </div>
    <div class="atm">ATM</div>
    <div class="col-sm-2" id="icone">
      <svg cIcon name="cilLocationPin" size="8xl"></svg>
    </div>
    <div class="atm">ATM RECICLADOR</div>
    <div class="atm-recycler">
      <div class="col-sm-2" id="icone">
        <svg cIcon name="cilLocationPin" size="8xl"></svg>
      </div>
    </div>
  </div>
</ng-container>
