:host {
  .ng-scrollbar {
    --scrollbar-padding: 1px;
    --scrollbar-size: 5px;
    --scrollbar-thumb-color: var(--cui-gray-500, #999);
    --scrollbar-thumb-hover-color: var(--cui-gray-400, #999);
    --scrollbar-hover-size: calc(var(--scrollbar-size) * 1.5);
  }
}

.notification-container {
  position: absolute;
  top: 100px;
  right: 10px;
  z-index: 99;
  width: 40%;
  max-width: 40%;
}

.notification-container .notification {
  margin-bottom: 8px;
}

.notification-container .notification.toLeave {
  animation: toLeave 0.4s ease-in-out;
}

@keyframes toLeave {
  100% {
      transform: translateX(200%);
  }
}

.notification-container .notification .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color-1);
  padding: 0px 8px;
  color: var(--const-white);
}

.notification-container .notification .header span:last-of-type:hover {
  cursor: pointer;
  color: var(--primary-color-2);
}

.notification-container .notification .body {
  padding: 4px 8px 10px 8px;
  background-color: var(--black);
  border: 1px solid var(--primary-color-1);
}

.notification-container .notification .body.function:hover {
  cursor: pointer;
  color: var(--primary-color-2);
}


// ng-scrollbar css variables
// .cui-scrollbar {
//  --scrollbar-border-radius: 7px;
//  --scrollbar-padding: 1px;
//  --scrollbar-viewport-margin: 0;
//  --scrollbar-track-color: transparent;
//  --scrollbar-wrapper-color: transparent;
//  --scrollbar-thumb-color: rgba(0, 0, 0, 0.2);
//  --scrollbar-thumb-hover-color: var(--scrollbar-thumb-color);
//  --scrollbar-size: 5px;
//  --scrollbar-hover-size: var(--scrollbar-size);
//  --scrollbar-thumb-transition: height ease-out 150ms, width ease-out 150ms;
//  --scrollbar-track-transition: height ease-out 150ms, width ease-out 150ms;
// }
