<!--sidebar-->
<c-sidebar
  #sidebar1="cSidebar"
  class="d-print-none sidebar sidebar-fixed border-end"
  colorScheme="dark"
  id="sidebar1"
  visible
>
  <c-sidebar-header class="border-bottom" style="justify-content: center;">
    <c-sidebar-brand [routerLink]="[]">
      <img src="./assets/images/logo/atos.png" alt="atos logo" height="32" width="100">
    </c-sidebar-brand>
  </c-sidebar-header>

  <ng-scrollbar #scrollbar="ngScrollbar" (updated)="onScrollbarUpdate(scrollbar.state)" class="overflow" pointerEventsMethod="scrollbar" visibility="hover">
    <c-sidebar-nav #overflow [navItems]="navItems" dropdownMode="close" compact  [class.has-nav-items]="navItems && navItems.length > 0"/>
  </ng-scrollbar>
  @if (!sidebar1.narrow) {
    <c-sidebar-footer cSidebarToggle="sidebar1" class="border-top d-none d-lg-flex" toggle="unfoldable" style="cursor: pointer;">
      <button cSidebarToggler></button>
    </c-sidebar-footer>
  }

</c-sidebar>

<!-- main -->
<div class="wrapper d-flex flex-column min-vh-100">
  <!-- app-header -->
  <app-default-header [cShadowOnScroll]="'sm'"
                      class="mb-4 d-print-none header header-sticky p-0 shadow-sm"
                      position="sticky"
                      sidebarId="sidebar1" />
  <!-- app-body -->
  <div class="body flex-grow-1">
    <c-container breakpoint="lg" class="h-auto px-4">
      <router-outlet />
    </c-container>
  </div>
  <!-- app footer -->
  <!-- <app-default-footer /> -->
</div>
<div class="notification-container">
  <div class="notification" [ngClass]="{'toLeave': notification.toLeave}" *ngFor="let notification of NotificationService.notificationLine; let index = index">
    <div class="header">
      <span>Notificação</span>
      <span (click)="NotificationService.closeNotification(index)">X</span>
    </div>
    <div class="body" [ngClass]="{'function': notification.functionOnMessage}" (click)="notification.functionOnMessage ? notification.functionOnMessage() : null">
      {{notification.notificationMessage}}
    </div>
  </div>
</div>
