<ng-container>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        Icone
      </div>
      <div class="col-sm-2">
        Ponto atendimento
        <div class="col-6">
          Endereço
        </div>
      </div>
      <div class="col-sm-2">
        Saldo Total
        <div class="col-6">
          Saldo
        </div>
      </div>
      <div class="col-sm-2">
        Data Atualização:
        <div class="col-6">
          Data
        </div>
      </div>
      <div class="col-sm-2">
        Botão mais detalhes
      </div>
    </div>
  </div>
</ng-container>
