.container {
  .row {
    margin-bottom: 40px;
    border-width: 3px; // Define a largura da borda
    border-style: solid; // Define o estilo da borda como sólido
    border-image: linear-gradient(to right, transparent,var(--DarkSlateGray), transparent) 10; // Aplica o gradiente à borda
    border-radius: 30px;


    @media(max-width: 576px) {
      border-image: linear-gradient(to top, transparent,var(--DarkSlateGray), transparent) 1;
      margin-bottom: 15px;
    }
  }
}

#icone {
  background-color: var(--cui-tertiary-bg-dark);
  border-radius: 15px 0px 0px 15px;
  position: relative; //
  display: flex; // Ativa o layout de flexbox
  align-items: center; // Centraliza verticalmente os itens
  justify-content: center; // Centraliza horizontalmente os itens

  svg[name="cilLocationPin"] {
    color: var(--cui-body-color);
    height: 100%;

    @media(max-width: 576px) { // Aplique este estilo apenas em dispositivos com largura máxima de 576px (dispositivos móveis)
      border-right: none; // Remova a borda à direita
      padding-bottom: 10px; // Adicione um espaçamento abaixo do elemento
    }
  }
  @media(max-width: 576px) {
    border-radius: 15px 15px 0px 0px;
  }
}

div[class*="col-8"],
div[class*="col-15"],
div[class*="col-10"] {
  color: var(--cui-body-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-end; // Alinha os itens na parte inferior
  height: 80%; // Garante que a div ocupe toda a altura disponível

  @media(max-width: 576px) {
    justify-content: flex-start; // Alinha os itens no topo em dispositivos móveis
  }
}

div[class*="col-sm-3"],
div[class*="col-sm-2"] {
  color: var(--cui-secondary-color);

  @media(max-width: 576px) {
    margin-bottom: 15px;
  }
}

#button-details {
  display: flex; // Ativa o layout de flexbox
  align-items: center; // Centraliza verticalmente os itens
  justify-content: center; // Centraliza horizontalmente os itens

  .btn-details {
    background-color: var(--DarkSlateGray); // Cor de fundo do botão
    color: #fff; // Cor do texto do botão
    border: none; // Remove a borda do botão
    padding: 5px 10px; // Espaçamento interno do botão
    border-radius: 5px; // Arredonda as bordas do botão
    cursor: pointer; // Altera o cursor para indicar que é clicável
    transition: background-color 0.3s ease; // Transição suave ao passar o mouse
  }

  @media(max-width: 576px) {
    padding-bottom: 5px;
  }

}

#button-details {
  .btn-details:hover {
    background-color: var(--cui-tertiary-bg-dark); // Cor de fundo do botão ao passar o mouse
  }
}
