.permission {
  margin-bottom: 10px;
  font-size: 20px;
}

.dual-list[_ngcontent-ng-c790108258] .button-bar[_ngcontent-ng-c790108258] button[_ngcontent-ng-c790108258] {
  background-color: black; /* Adicione esta linha para alterar a cor de fundo */
}

.create-account {
  margin-top: 20px;
}

.create {
  border: none;
  background-color: var(--cui-tertiary-bg-dark);
  color: black;
}

.create:hover {
  border: none;
  color: black;
  background-color: var(--green); // Cor de fundo do botão
}
