:host {
  .legend {
    small {
      font-size: x-small;
    }
  }
}

.graphic {
  height: 80%;
  width: 112%;
  box-shadow: 0 0 10px var(--cui-secondary-color); /* Sombra para destacar o modal do fundo */
}
