.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro semi-transparente para destacar o modal */
  color: var(--cui-body-color);
}

.modal-content {
  background-color: var(--cui-body-bg);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra para destacar o modal do fundo */
  width: 80%;
  height: 80%;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  color: var(--cui-body-color);
  font-size: 20px; /* Ajuste o tamanho conforme necessário */
  transform: scale(1.5); /* Aumenta o tamanho do ícone */
}

.container {
  margin-left: 50px;
}

.align-items-start {
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px var(--cui-secondary-color); /* Sombra para destacar o modal do fundo */
  margin-right: 2px;
  width: 70%;
}

.date {
  position: absolute;
  top: 100px;
  left: 65%; /* Ajuste conforme necessário */
  transform: translateY(-50%);
  border-radius: 10px;
  box-shadow: 0 0 10px var(--cui-secondary-color); /* Sombra para destacar o modal do fundo */
  height: 120px;
  width: 31%;
}

.date-ini,
.date-fin {
  text-align: center;
  color: var(--cui-secondary-color);
}

.date-inicial,
.date-final {
  border-radius: 5px;
  box-shadow: 0 0 10px var(--cui-secondary-color); /* Sombra para destacar o modal do fundo */
  width: 120%;
  height: 45px;
  margin-top: 30%;
  margin-left: 13%;
  background-color: var(--cui-body-bg);
}

input {
  font-size: 16px;
  margin-top: 30%;
  height: 45px;
  width: 110%;
  border-radius: 5px;
  margin-left: 13%;
  box-shadow: 0 0 10px var(--cui-secondary-color); /* Sombra para destacar o modal do fundo */
}

.icone {
  background-color: var(--cui-tertiary-bg-dark);
  border-radius: 10px 0px 0px 10px;
  position: relative; //
  display: flex;
  align-items: center;
  width: 90%;

  svg[name="cilLocationPin"] {
    margin-top: 10px;
  }
}

.atm-Nu-users {
  font-size: 42px;
  margin-left: 40px;
}

.atm-No-users {
  color: black;
  font-weight: bold;
  margin-left: 0%;
  // font-size: 5px;
}

.dados {
  color: var(--cui-secondary-color);
  margin-left: -20px;
}

.limite-in {
  margin-top: 20px;
}

.limite-in,
.mediano,
.limite-su {
  color: var(--cui-body-color);

  @media(max-width: 576px) {
    margin-bottom: 5px;
  }
}

.circle {
  margin-top: 15px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: transparent;
  position: relative;
}

.tooltip {
  visibility: hidden;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px; /* Ajuste conforme necessário */
  opacity: 0;
  transition: opacity 0.3s;
}

.circle:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.balance {
  color: var(--cui-secondary-color);
}

.balance-value {
  margin-left: 40px; /* Espaçamento entre o círculo e o texto */
  font-size: 30px;
  color: var(--cui-body-color);
}

.check {
  margin-top: 10%;
  margin-left: 7%;
  margin-bottom: 4%;
  height: 45px;
  text-align: center;
  background-color: var(--green); // Cor de fundo do botão
  color: #fff; // Cor do texto do botão
  padding: 5px 0px 0px 5px; // Espaçamento interno do botão
  border-radius: 5px; // Arredonda as bordas do botão
  cursor: pointer;

  svg[name="cilCheck"] {
    width: 30px;
    height: 30px;
  }
}

.check:hover {
  background-color: var(--green-water);
}


.grafico{
  width: 1650px;
}

.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#canvas {
  width: 80% !important;
  height: 100% !important;
  margin-top: 1%;
}
