<ng-container *ngIf="isModalOpen">
  <div class="modal" >
        <div class="bg-light dark:bg-transparent min-vh-100 d-flex flex-row align-items-center modal-content">
          <c-container>
            <c-row class="justify-content-center">
              <c-col lg="7" md="9" xl="6">
                <c-card class="mx-4">
                  <c-card-body class="p-4">
                    <span class="close" (click)="onCloseModal()">&times;</span>
                    <form cForm>
                      <h1>{{ isEditMode ? 'Editar Usuário' : 'Registrar'}}</h1>
                      <p class="text-body-secondary">{{ isEditMode ? 'Editar informações do usuário' : 'Criar um novo usuário'}}</p>
                      <c-input-group class="mb-3">
                        <span cInputGroupText>
                          <svg cIcon name="cilUser"></svg>
                        </span>
                        <input
                          autoComplete="name"
                          cFormControl
                          placeholder="Nome"
                          [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="userData.firstName"
                          [value]="userData.firstName || '' "
                          [disabled]="isEditMode"/>
                      </c-input-group>
                      <c-input-group class="mb-3">
                        <span cInputGroupText>
                          <svg cIcon name="cilUser"></svg>
                        </span>
                        <input
                          autoComplete="name"
                          cFormControl
                          placeholder="Sobrenome"
                          [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="userData.lastName"
                          [value]="userData.lastName || '' "
                          [disabled]="isEditMode"/>
                      </c-input-group>
                      <c-input-group class="mb-3">
                        <span cInputGroupText>&#64;</span>
                        <input
                          autoComplete="email"
                          cFormControl
                          placeholder="Email"
                          [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="userData.email"
                          [value]="userData.email || ''"
                          [disabled]="isEditMode"/>
                      </c-input-group>
                      <div class="permission">
                        Permissão
                      </div>
                      <dual-listbox [sort]="true" [source]="source" key="id" display="normalizedName"
                        [filter]="true" [(destination)]="confirmed" height="150px"
                        [disabled]="false" [format]="format">
                      </dual-listbox>
                      <div class="d-grid create-account">
                        <button cButton class="reenviar" (click)="reenviarQrCode(userData.email)" [hidden]="!isEditMode">Reenviar QrCode</button>
                        <button cButton class="create" (click)="editPermission()" [hidden]="!isEditMode">Salvar Alterações</button>
                        <button cButton class="create" (click)="createUser()" [hidden]="isEditMode">Criar conta</button>
                      </div>
                    </form>
                  </c-card-body>
                </c-card>
              </c-col>
            </c-row>
          </c-container>
        </div>
  </div>
  <div (click)="onCloseModal()" *ngIf="isModalOpen"></div>
</ng-container>
